body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

header > div {
  display: flex;
  align-items: center;
}

.brand-logo {
  margin-left: 2rem;
  height: 50px;
  width: 50px;
}

nav {
  width: 50%;
  text-align: center;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
}

nav > ul > a {
  text-decoration: none;
  color: #007bff;
}

.active {
  text-decoration: underline;
}

.App {
  height: 100vh;
}

.section-containers {
  margin: 5rem auto;
}

.section-rockets {
  margin-right: 2rem;
  margin-left: 2rem;
}

.rocket__item__container {
  display: flex;
  margin-top: 1em;
}

.rocket__item__container img {
  width: 16em;
  height: 13em;
}

.rocket__item__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 1em;
}

.rocket__item__details h2 {
  margin-bottom: 0;
}

.rocket__item__details button {
  align-self: flex-start;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 1em;
  font-size: medium;
}
