body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-logo {
  margin-left: 2rem;
  height: 50px;
  width: 50px;
}

nav {
  width: 50%;
  text-align: center;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
}

.App {
  height: 100vh;
}

.section-containers {
  margin: 4rem auto;
}
